<%= form_with model: @micropost, local: true do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field form-group mt-4">
  <%= f.text_area :content, placeholder: 'Create a new micropost', class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.submit 'Post', class: 'form-control btn btn-primary' %>
</div>
<div class="form-group">
  <%= f.file_field :image, accept: 'image/jpeg,image/png,img/gif', class: 'form-control-file' %>
</div>
<% end %>

<script type="text/javascript">
  var micropost_image = document.getElementById('micropost_image')
  micropost_image.addEventListener("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
    }
  });
</script>
